@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap');

//////////////////////
$principal: #d00000;
$secundario: #0057b4;
/////////////////////

$font-family-sans-serif: 'Roboto', sans-serif;

/////////////////////
$primary: $principal;
$secondary: $secundario;
////////////////////

/////////////////////
$colors: (
    color1: $principal,
    color2: $secundario,
    color3: #474750,
    color4: #ff8516
);
/////////////////////
@mixin contenedores ($ancho, $alto){
    width: $ancho;
    height: $alto;
 }
///////////////////////
%boton {
    @include contenedores (140px, 40px);
    padding: .375rem .75rem; 
    font-size: 1rem;
    border-radius: .35rem;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
}
/////////////////////////

.boton_1{
   @extend %boton;
   background-color: transparent;
   border: 2px solid map-get($colors, color4);
   color: map-get($colors, color4);
   transition: all .25s ease;
   &:hover{
       background-color: map-get($colors, color4);
       color: #fff;
       transition: all .50s ease;
       &:active{
           transform: translate(0, 5px);
       }
   }
}

.boton_2{
    @extend %boton;
    background-color: transparent;
    color: $principal;
    border: 2px solid $principal;
    transition: all .25s ease;
    margin-bottom: 8px;
    &:hover{
        background-color: $principal;
        color: #fff;
        transition: all .50s ease;
        transform: translate(0, 5px);
     }
}

$font-family-sans-serif: 'Roboto', sans-serif;

img {
    @include contenedores (auto, auto);
    max-width: 100%;
    border-radius: 8px;
}

.sub-titulo{
    span{
        font-family: 'Francois One', sans-serif;
        font-size: 1.8rem;
        border-bottom: 5px solid map-get($colors, color1);
    }
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid map-get($colors, color1);
    border-bottom: 5px solid map-get($colors, color1);
    span{
        font-family: 'Francois One', sans-serif;
        font-size: 3.125rem;
    }
}

h1 {
    font-family: 'Francois One', sans-serif;
}

.card-body{
    .name{
        font-family: 'Oswald', sans-serif;
        font-size: 1.1rem;
    }
    .precio-tachado {
        display: inline-block;
        text-decoration: line-through;
        color: map-get($colors, color3);
    }
    .precio-más-bajo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .precio-final {
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.6rem;
        color: map-get($colors, color1)
    }
    .precio-original{
        margin-top: 4.188rem;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.563rem;
        color: map-get($colors, color2);
    }
    .hidden{
        visibility: hidden;
    }
}
.card{
    transition: all .25s ease;
    &:hover{
        transform: translateY(-20px);
        transition: all .40s ease;
        box-shadow: 0 0 1.5em #0002;
    }
}

textarea{
    @include contenedores (auto, 120px);
}

iframe{
    @include contenedores (100%, 720px);
    border-radius: 15px;
}

@import "../node_modules/bootstrap/scss/bootstrap";